@charset "utf-8";

/*  "noto-serif", serif;  "noto-sans", sans-serif */
@import url("https://use.typekit.net/dga0ryk.css");
/*  "noto-sans", sans-serif  300; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
:root {
  --font-titel-1: 60px;
  --font-titel-2: 57px;
  --font-titel-3: 40px;
  --font-titel-4: 25px;
  --font-titel-5: 18px;
  --font-body-1: 20px;
  --font-body-2: 19px;
  --font-body-3: 16px;

  --main-color: #005c4c;
  --point-color: #ffc41c;

  --title-font: "noto-serif", serif;
  --title-weight: 900;
}

body {
  font-family: "noto-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn2 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-5);
  display: block;
  width: 168px;
  height: 50px;
  background-color: var(--point-color);
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  box-shadow: 5px 5px 0 #000;
  margin-top: 30px;
  transition: 0.2s;
}
.btn2:hover {
  background-color: #fff;
  transform: translateY(-15%);
}
.btn1 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-5);
  display: block;
  width: 168px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  box-shadow: 5px 5px 0 #000;
  margin-top: 30px;
  transition: 0.2s;
}
.btn1:hover {
  background-color: var(--point-color);
  transform: translateY(-15%);
}
/* @keyframes btn1 {
  0% {
    background-color: var(--point-color);
    transform: translateY(0%);
  }
  100% {
    background-color: var(--point-color);
    transform: translateY(100%);
  }
} */

/**** header ****/

header {
  background-color: #fff;
  width: 100%;
  height: 84px;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
header .header-wrapper {
  max-width: 80%;
  min-width: 1200px;
  margin: 17px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper img {
  width: 100px;
  height: 50px;
}
header .header-wrapper .menu {
  font-family: var(--title-font);
  font-weight: 900;
  color: var(--main-color);
  text-transform: uppercase;
  display: flex;
  gap: 55px;
}
header .header-wrapper a:hover {
  color: var(--point-color);
}

/**** body ****/
main:not({wave}) {
  width: 80%;
  margin: 0 auto;
}

.video {
  width: 80%;
  overflow: hidden;
  /* aspect-ratio: 16 / 9; */
  margin: 0 auto;
}

.video .youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/**** features ****/

.features-wrapper {
  /* background-color: #eee; */
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 580px;
}
.features-wrapper .features {
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.features-wrapper .features:nth-child(1) {
  background: url(./images/features_icon1.png) no-repeat 50% 120px;
}
.features-wrapper .features:nth-child(2) {
  background: url(./images/features_icon2.png) no-repeat 50% 120px;
}
.features-wrapper .features:nth-child(3) {
  background: url(./images/features_icon3.png) no-repeat 50% 120px;
}
.features-wrapper .features h4 {
  margin: 0 auto;
  background-color: var(--point-color);
  border: 3px solid var(--main-color);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-4);
  color: #fff;
  width: 325px;
  height: 50px;
  line-height: 45px;
  transform: translateY(280px);
}
/* .features-wrapper .features:nth-child(1) h4 {
  width: 270px;
}
.features-wrapper .features:nth-child(2) h4 {
  width: 345px;
}
.features-wrapper .features:nth-child(3) h4 {
  width: 290px;
} */
.features-wrapper .features p {
  font-size: var(--font-body-3);
  transform: translateY(335px);
}
.features-wrapper .features p span {
  display: block;
}

/*** bg pattern ***/
.wave-bg {
  height: 150px;
  text-indent: -9999px;
  background: url(./images/bg_01.png) repeat-x 0 70px;
}

/**** primary1 ****/

.primary1-wrapper {
  width: 63%;
  height: 1140px;
  min-width: 1000px;
  margin: 50px auto;
  /* background-color: #eee; */
  transform: translateY(100px);
  position: relative;
}

.primary1-wrapper .orange {
  display: flex;
}
.primary1-wrapper .orange .juice-img {
  text-indent: -9999px;
  /* width: 1000px; */
  width: 41.3194vw;
  height: 500px;
  background: url(./images/primary_01.png) no-repeat 80% 50% / 700px;
  position: absolute;
  left: -210px;
  /* left: -1270px; */
}
/* .primary1-wrapper .orange .juice-img {
  animation: mov1 3s 5s forwards 1;
}
@keyframes mov1 {
  100% {
    transform: translateX(900px);
  }
} */

.primary1-wrapper .orange .logo-txt {
  width: 480px;
  margin-left: 100px;
  position: absolute;
  right: 00px;
}
.primary1-wrapper .orange .logo-txt img {
  margin-top: 80px;
  /* width: 358px; */
  width: 74.5%;
}
.primary1-wrapper .orange .logo-txt p {
  font-size: var(--font-body-1);
  margin-top: 30px;
}
.primary1-wrapper .orange .logo-txt p span {
  display: block;
}

.primary1-wrapper .lemon {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 100px;
}
.primary1-wrapper .lemon .logo-txt {
  width: 600px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.primary1-wrapper .lemon .logo-txt img {
  margin-top: 80px;
  /* width: 358px; */
  width: 59.6%;
}
.primary1-wrapper .lemon .logo-txt p {
  font-size: var(--font-body-1);
  margin-top: 30px;
}
.primary1-wrapper .lemon .logo-txt p span {
  display: block;
}
.primary1-wrapper .lemon .juice-img {
  text-indent: -9999px;
  width: 700px;
  height: 500px;
  background: url(./images/primary_02.png) no-repeat 20% 60% / 700px;
  position: absolute;
  right: -100px;
  bottom: 0;
}

/**** primary2 ****/

.primary2-wrapper {
  width: 100%;
  margin-top: 300px;
  position: relative;
  overflow-x: hidden;
}
.img-wrapper {
  width: 100%;
  margin-top: 300px;
  position: relative;
}
.primary2-wrapper .wave-bg2 {
  position: relative;
  width: 100%;
  height: 330px;
  text-indent: -9999px;
  background: url(./images/bg_02.png) repeat-x 50% 100% / contain;
  animation: wave1 5s linear infinite;
}

@keyframes wave1 {
  100% {
    transform: translateX(100%);
  }
}
.primary2-wrapper .wave-bg3 {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 330px;
  text-indent: -9999px;
  background: url(./images/bg_02.png) repeat-x 50% 100% / contain;
  animation: wave2 5s linear infinite;
}

@keyframes wave2 {
  100% {
    transform: translateX(100%);
  }
}

.lemon-img {
  width: 467px;
  height: 303px;
  position: absolute;
  z-index: 100;
  top: -50px;
  left: 13%;
}
.lemon-img2 {
  width: 467px;
  height: 303px;
  position: absolute;
  z-index: 100;
  top: -50px;
  left: 13%;
}

.primary2-wrapper .txt-btn {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 70px;
  margin: auto;
  z-index: 10;
  text-align: right;
  font-size: var(--font-titel-3);
  font-family: var(--title-font);
  color: #fff;
}
.primary2-wrapper .txt-btn p {
  line-height: 50px;
}
.primary2-wrapper .txt-btn .btn2 {
  color: #000;
  position: absolute;
  right: 0;
}
.primary2-wrapper .txt-btn span {
  display: block;
}

/**** recipes ****/

.recipes {
  width: 100%;
  margin: 190px auto 256px;
}
.recipes h1 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-1);
  color: var(--point-color);
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000, 5px 5px 0 #000,
    4px 4px 0 #000, 3px 3px 0 #000, 2px 2px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin-bottom: 125px;
}
.recipes .gallery-wrapper {
  width: 80%;
  min-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.recipes .gallery {
  position: relative;
}
.recipes .gallery-wrapper .recipe1 {
  width: 25vw;
  height: 35vh;

  background: url(images/recipes01_chocolate-orange-affogato.jpg) no-repeat 80% /
    cover;
  text-indent: -99999px;
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #000;
}
.recipes .gallery-wrapper .recipe2 {
  width: 25vw;
  height: 35vh;

  background: url(images/recipes02_limoncello.jpg) no-repeat 30% 100% / cover;
  text-indent: -99999px;
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #000;
}
.recipes .gallery-wrapper .recipe3 {
  width: 25vw;
  height: 35vh;

  background: url(images/recipes03_strawberry-ice-pops.jpg) no-repeat 50% 0 /
    cover;
  text-indent: -99999px;
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #000;
}
.recipes .gallery p {
  background-color: var(--point-color);
  font-size: var(--font-body-2);
  width: 247px;
  height: 82px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  padding: 12px;
  transform: rotate(-15deg);
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.recipes .gallery:hover {
  transform: scale(1.05);
}
.recipes .gallery:nth-child(1) img {
  /* transform: translate(-450px); */
}
.recipes .gallery:nth-child(2) img {
  transform: translate();
}
.recipes .gallery:nth-child(3) img {
  transform: translate();
}
.recipes .gallery p {
  background-color: var(--point-color);
}
/*** .secondary_contents ***/

.secondary_contents {
}
.secondary_contents .secondary-bg {
  width: 100%;
  height: 525px;
  background: url(./images/secondary_orangetrees.jpg) 50% 40%;
  margin-top: 320px;
}
.secondary_contents .secondary-bg .secondary-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secondary_contents h2 {
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--font-titel-2);
  font-weight: var(--title-weight);
  color: var(--point-color);
}
.secondary_contents .secondary-bg p {
  font-size: 18px;
  color: var(--point-color);
  margin-top: 10px;
}
.secondary_contents .secondary-bg .secondary-txtbtn {
  width: 755px;
  height: 350px;
  margin: 0px auto;
  padding-top: 200px;

  position: relative;
}
.secondary_contents .secondary-bg a {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: 17.5px;
  color: var(--point-color);
  display: block;
  width: 235px;
  height: 50px;
  border: 1px solid #ffc41c;
  text-align: center;
  line-height: 50px;
  box-shadow: 5px 5px 0 #ffc41c;
  margin-top: 30px;

  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.2s;
}

.secondary_contents .secondary-bg a:hover {
  background-color: #ffc41c;
  color: #000;
  border: 1px solid #000;
  box-shadow: 5px 5px 0 #fff;
  transform: translateY(-15%);
}

.secondary_contents .count-wrapper {
  width: 100%;
  height: 370px;
  background-color: var(--point-color);
  display: flex;
  align-items: center;
}

.secondary_contents .count-wrapper .count {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.secondary_contents .count-wrapper .count h1 {
  font-size: var(--font-titel-1);
  font-weight: var(--title-weight);
  font-family: var(--title-font);
  color: var(--main-color);
}
.secondary_contents .count-wrapper .count p {
  color: #fff;
}

/**** products ****/

.products {
  width: 80%;
  margin: 190px auto;
}

.products h1 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-1);
  color: var(--point-color);
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000, 5px 5px 0 #000,
    4px 4px 0 #000, 3px 3px 0 #000, 2px 2px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin-bottom: 125px;
}
.products ul {
  display: flex;
  justify-content: space-between;
}
.products figure {
  width: 125px;
  height: 308px;
  position: relative;
}

.products figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.products figure img:hover {
  animation: moving 0.1s infinite;
}
@keyframes moving {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.products figure figcaption {
  text-align: center;
  font-size: var(--font-titel-5);
  font-weight: 500;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: auto;
}

/**** signUp ****/

.signUp {
  width: 80%;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
}

.signUp h1 {
  font-family: var(--title-font);
  font-size: var(--font-titel-1);
  font-weight: var(--title-weight);
  color: var(--main-color);
  line-height: 80px;
}

.signUp p {
  font-size: 23px;
}

.signUp .form-wrapper {
  width: 535px;
}

.signUp .form-wrapper .email {
  width: 535px;
  height: 47px;
  background-color: var(--point-color);
  border: 2px solid #005c4c;
  font-size: var(--font-body-2);
  color: var(--main-color);
  padding-left: 10px;
}
.signUp .form-wrapper:nth-child(2) p {
  margin-top: 20px;
}
.signUp .form-wrapper .drop-wrapper {
  display: flex;
  justify-content: space-between;
}
.signUp .form-wrapper select {
  width: 100px;
  height: 47px;
  background-color: var(--point-color);
  border: 2px solid #005c4c;
  font-size: var(--font-body-2);
  color: var(--main-color);
}
.signUp .form-wrapper .month {
  width: 220px;
}
.signUp .form-wrapper .day {
  width: 140px;
}
.signUp .form-wrapper .year {
  width: 140px;
}
.signUp .form-wrapper .check {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.signUp .form-wrapper .check-txt {
  display: flex;
}
.signUp .form-wrapper .check input {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  margin-top: 25px;
}
.signUp .form-wrapper .check p {
  font-size: var(--font-body-3);
}

.location-map {
  width: 100%;
  height: 490px;
}
.location-map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**** instagram ****/
.instagram {
  width: 80%;
  margin: 150px auto;
}
.instagram h1 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--font-titel-1);
  color: var(--point-color);
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000, 5px 5px 0 #000,
    4px 4px 0 #000, 3px 3px 0 #000, 2px 2px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin-bottom: 125px;
}
.instagram .instagallery {
  display: flex;
  justify-content: space-between;
}
.instagram .instagallery .frame {
  width: 16.5%;
  height: 135px;
  border: 2px solid #000;
  overflow: hidden;
}
.instagram .instagallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 3s;
}
.instagram .instagallery img:hover {
  width: 130%;
  height: 130%;
  object-position: 150% 150%;
  object-fit: cover;
}

/* .instagram .instagallery img:nth-child(1) {
}
.instagram .instagallery img:nth-child(2) {
}
.instagram .instagallery img:nth-child(3) {
}
.instagram .instagallery img:nth-child(4) {
}
.instagram .instagallery img:nth-child(5) {
}
.instagram .instagallery img:nth-child(6) {
} */

/**** footer ****/

footer {
  width: 100%;
  height: 306px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 200px;
  position: relative;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 60px 200px 0 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper img {
  width: 120px;
  height: 80px;
}
footer .footer-wrapper h5 {
  font-family: var(--title-font);
}
footer .footer-wrapper p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
}
footer .footer-wrapper .icon {
  width: 115px;
  height: 17px;
  margin-top: 20px;
  background: url(./images/sns-small.png) no-repeat 0% 0% / cover;
}
footer .footer-bottom {
  width: 100%;
  height: 93px;
  background-color: #113e36;
  position: absolute;
  bottom: 0;
}

footer .footer-bottom p {
  text-align: center;
  font-size: 14px;
  line-height: 93px;
  font-weight: 300;
  opacity: 0.5;
}
